{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex">
    <div class="mr-auto p-2">Welcome {{name}}</div>
    <div class="p-2"><span class="badge badge-primary"><a href="/" class="text-white"
                style="text-decoration: none;">Home</a></span></div>
    <div class="p-2"><span class="badge badge-primary"><a href="/logout" class="text-white"
                style="text-decoration: none;">Log Out</a></span></div>
</div><br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">User Name/Email</th>
            <th scope="col">User Type</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in all %}
            {% if i.username == 'admin@admin' %}
                <tr class="table-success">
                    <td scope="row">{{i.id}}</td>
                    <td scope="row">{{i.username}}<b>(You)</b></td>
                    <td scope="row">{{i.first_name}}</td>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <td scope="row">{{i.id}}</td>
                    <td scope="row">{{i.username}}</td>
                    <td scope="row">{{i.first_name}}</td>
                    {% if i.first_name == 'Staff' %}
                        {% if i.last_name == 'Inactive' %}
                            <td scope="row"><a href="/activate/{{i.id}}">Activate</a></td>
                        {% else %}
                            <td scope="row"><a href="/deactivate/{{i.id}}">Make Inactive</a></td>
                        {% endif %}
                    {% else %}
                            <td scope="row"></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}