<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User authentication Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Styles/Style.css' %}">
    <script type="text/javascript">
        function validateRegistration()
        {
            var returnValue;
            var password=document.getElementById('password').value;
            var confirmPassword=document.getElementById('confirmPassword').value;
            var email=document.getElementById('email').value;
            if (email!="")
            {
                if (password!=confirmPassword)
                {
                    alert("Passwords does not match");
                    returnValue=false;
                }
                else
                {
                    if (password.length < 8)
                    {
                        alert("Minimum 8 characters required for password");
                        returnValue=false;
                    }
                    else
                    {
                        returnValue=true;
                    }
                }
            }
            else
            {
                alert("Email address cannot be blank");
                returnValue=false;
            }
            return returnValue;
        }
        function validateLogin()
        {
            if (document.getElementById("email").value=="")
            {
                alert("Email cannot be blank");
                return false;
            }
            else if(document.getElementById("password").value=="")
            {
                alert("Password cannot be blank");
                return false;
            }
            else
            {
                return true;
            }
        }
        </script>
</head>

<body class="p-4">
    {% block content %}
    {% endblock content %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>