{% extends 'base.html' %}
{% load static %}
{% block content %}
{{message}}
<div class="d-flex justify-content-center">
    <div class="first-sub-block-log-in">
        <form onsubmit="return validateLogin()" action="/login" method="POST" class="px-4 py-3">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control input-box" id="email" name="email"
                    placeholder="email@example.com">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control input-box" id="password" name="password"
                    placeholder="Password">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">User Type</label>
                </div>
                <select class="custom-select" name="userType" id="userType" id="inputGroupSelect01">
                    <option selected value="Customer">Customer</option>
                    <option value="Staff">Staff</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                    Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="registration">New around here? Sign up</a>
    </div>
</div>
{% endblock content %}