{% extends 'base.html' %}
{% load static %}
{% block content %}
<form onsubmit="return validateRegistration()" name="registration-form" action="\createUser" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Re-enter Password to confirm</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">User Type</label>
        </div>
        <select class="custom-select" name="userType" id="userType" id="inputGroupSelect01">
            <option selected value="Customer">Customer</option>
            <option value="Staff">Staff</option>
        </select>
    </div>
    <div class="form-group">
        <label for="login">Already a Registered User ? Click Here to <a href="login">log in</a></label>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-success mr-2" value="Register">
        <input type="reset" class="btn btn-danger ml-2" value="Reset">
    </div>
</form>
{{message}}
{% endblock content %}