{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex">
    <div class="mr-auto p-2">Welcome {{name}}</div>
    <div class="p-2"><span class="badge badge-primary"><a href="/" class="text-white"
                style="text-decoration: none;">Home</a></span></div>
    <div class="p-2"><span class="badge badge-primary"><a href="/logout" class="text-white"
                style="text-decoration: none;">Log Out</a></span></div>
</div>
{% endblock content %}